.nav{
    grid-area: n;
    background-color: blueviolet;
    padding: 20px;
}

.item{
    color: bisque;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.active{
    color: darkgoldenrod;
}