.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    color: white;
    padding: 10px;
}

.dialog {
    text-decoration: none;
    color: white;
}

.dialogs .active{
    color: green;
}
